 <style>
    body {
    background-image: url('images/spotify-background.jpeg');
    background-size: cover;
    align-items: center;
    }
</style>


<form action="/artist-search" method="GET">
    <label for="artistName">Artist's Name:</label>
    <input type="text" id="artistName" name="artistName" required>
    <button type="submit">Search</button>
</form>
